services:
  postgres:
    container_name: postgres_container
    image: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-pollenantenna}
      POSTGRES_USER: ${POSTGRES_USER:-benoit}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-localpwd}
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
    ports:
      - "5432:5432"

volumes:
  postgres:
